* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

section {
  padding: 0% 7%;
}

html,
body {
  overflow-x:hidden;
  scroll-behavior: smooth;
  background-color:#fff;
}

a {
  text-decoration: none;
}

p,
span {
  font-size:18px;
}

h2 {
  font-size: 42px;
  transform: scaleY(1.1);
}

h3 {
  font-size: 34px;
  transform: scaleY(1.1);
}

h4 {
  font-size: 30px;
}
